body {
	font-family: Arial, San-Serif;
	font-size: 100%;
}

ul, 
ol {
	margin: 0;
	padding: 0;
}

ul li {
	list-style: none;
}

.container {
	margin: 0 auto;
	width: 960px;
}

.header {
	padding: 50px 0;
	background-color: red; 
}

.header h1 {
	font-family: "Great Vibes", 
	cursive; 
	text-align: center;
	font-size: 65px;
	text-shadow: 0 1px 1px #fff;
}

.page-navigation {
	background-color: #222;
	min-height: 64px;
}

.page-navigation li {
	float: left;
	width: 100px;
}

.page-navigation a {
	display: block;
	color: #9d9d9d;
	line-height: 4em;
	font-weight: bold;
	text-align: center;
}

.page-navigation li a:hover {
	color: red;
	background-color: black;
}

.login {
	padding: 15px 0;
	float: right;
}

.login input[type="text"],
.login input[type="password"]{
	padding: 5px;
	margin-right: 5px;
	border: 1px solid transparent;
	border-radius: 5px; 
	outline: none;
}

.login input[type="submit"]{
	padding: 5px 15px;
	border: 1px solid lightgrey;
	border-radius: 5px; 
}

.login input[type="submit"]:hover,
button:hover {
	background-color: red;
	color:black;
}

.collection-title {
	padding-bottom: 5px;
	border-bottom: 1px solid #777;
	font-size: 36px;
}
.collection-title small {
	color: #777;
	font-size: 70%;
}

.img-navigator{
	text-align: center;
}

.rounded {
counter-reset: li; 
list-style: none; 
font: 14px "Trebuchet MS", "Lucida Sans";
padding: 0;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded a {
position: relative;
display: block;
padding: .4em .4em .4em 2em;
margin: .5em 0;
background: #DAD2CA;
color: #444;
text-decoration: none;
border-radius: .3em;
transition: .3s ease-out;
}
.rounded a:hover {background: #E9E4E0;}
.rounded a:hover:before {transform: rotate(360deg);}
.rounded a:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -1.3em;
top: 50%;
margin-top: -1.3em;
background: #8FD4C1;
height: 2em;
width: 2em;
line-height: 2em;
border: .3em solid white;
text-align: center;
font-weight: bold;
border-radius: 2em;
transition: all .3s ease-out;
}

.footer {
	background-color: red;
	color: white;
	padding: 20px 0;
	margin-top: 30px;
}